@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,700;1,62.5..100,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-color: #11b899 #fff;
}

body {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    
  }


.responsive-showcase {
    
    

    flex-direction: row;
    position: relative;
    z-index: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;



}


.responsive-showcase img {

    flex: 0.5;
    min-width: 20rem;
    margin: 8rem 5rem 1rem 10rem;
    padding: 0.5rem;
    min-height: 30rem;
    text-align: center;
    border-radius: 10px;
    
}